@model IEnumerable<DistributerManagementSystemModels.Orderbook>

@{
    ViewData["Title"] = "Orderbook";
}

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info">
            @ViewBag.Message
        </div>
    }

<h1>Orderbook</h1>
<span>
<p>
    <a asp-action="Create">Create New</a>
</p>

    <p>
        <a asp-action="DispatchedOrders">View Dispatched Orders</a>
    </p>
</span>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetailerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BalanceAmount)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetailerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BalanceAmount)
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                    <a asp-action="Dispatched" asp-route-id="@item.Id">Dispatch</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {

    <script>
        $(document).ready(function() {
            $('#myTable').DataTable();
        });
    </script>
}
