@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">VazirX Distributer</h1>
    
</div>
@Html.ActionLink("Login", "Login", "Home") |
@Html.ActionLink("Create User", "Create", "Users") |
@Html.ActionLink("Create Vendor", "Create", "Vendor") |
@Html.ActionLink("Create Products", "Create", "Products") |
@Html.ActionLink("Create Purchase Order", "Create", "ProductPurchaseOrderbook") |
@Html.ActionLink("Create Retailer", "Create", "Retailer") |
@Html.ActionLink("Create Orderbook", "Create", "Orderbook") |

@Html.ActionLink("Create Orderbook", "Index", "Orderbook") |